attrs==23.1.0
flake8==6.0.0
flake8-bugbear==23.5.9
flake8-builtins==2.1.0
flake8-functions-names==0.4.0
flake8-variables-names==0.0.5
mccabe==0.7.0
numpy==1.24.3
pep8-naming==0.13.3
pycodestyle==2.10.0
pyflakes==3.0.1
